.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App>h1{
  font-family: 'Shadows Into Light', cursive;
  font-size: 6vmin;
  color: #e8e4e6;
  width: 100%;
  background-color: #004643;
  padding: 30px;
  margin-top: 0;
  border-bottom: .5vmin solid #001e1d;
  text-shadow: 4px 2px #001e1d;
 
}
